:root{

    --main-radius: 5px;
    --main-padding: 5px;
    --Tan: #b68d40;
    --cream: #f4ebd0;
    --Charcoal: #122620;
    --Gold: #d6ad60;
    --Darkblue: #050a30;
    --Navyblue: #000c66;
    --Blue: #0000ff;
    --Babyblue: #7ec8e3; 
    --BlueGrotto: #0e86d4;
    --Ivory: #ede7dc;
    --SandDollar: #dcd2cc;
    --DustyRose: #ccafa5;
    --Gray: #bdc3cb;
}
*{
    background-color: var(--blue);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.body{

    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows:  1.5fr 1.5fr 1.5fr;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
    "header header header"
    "profile profile profile"
    "paper paper paper"
    "collection collection collection"
    "blog blog blog"
    "hobby hobby hobby"
    "footer footer footer"
    
    ;

    height: 100vh;

}
h1{
    font-size: 2.1rem;
}
#header{
    grid-area: header;
    background-color: var(--Blue);
    color: var(--Babyblue);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    height: 13vh;
    width: 100%;
    margin-top: -20px;
    margin-left: -8px;
    font-size: 2.5rem;
}
#user{
    font-size: 1.2rem;
    text-align: justify;
    padding: 15px;
}
#user img{
    float: left;
    margin: 15px;
    
}
#header a{
    text-decoration: none;
}
#header .title{
    margin: 35px;
    font-size: 2.3rem;
    color: var(--cream);
}
#header .title:hover{
    color: var(--Darkblue);
}
#profile{
    margin-top: 65px;
    margin-left: -10px;
    grid-area: profile;
    background: var(--Blue);
    height: auto;
    width: 100%;
    display: flex;
    padding: 15px;
}
.img{
    height: 250px;
    width: 250px;
    border-radius: 0.5cm  ;
}
p{
    margin: 30px;
    font-size: 1.3rem;
}
.paper{
    grid-area: paper;
    background: var(--cream);
    color: var(--Charcoal);
    margin-left: -8px;
    width: 100%;
    padding: 15px;
}
.papers{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: 
    "p1 p2 p3"
    "p4 p5 p6"
    ;
    height:auto;
    width: 100%;
    margin-left: -8px; 
    margin-bottom: -1000px;
    padding:15px;
}
.papers #title{
    color: var(--Navyblue);
    height: 40px;
    font-size: 1.9rem;
    text-decoration: none;

}
#p1, #p2, #p3, #p4, #p5, #p6{
    background-color: var(--Babyblue);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    color: var(--Charcoal);
    height: auto;
    width: 80%;
    margin-top: -200px;
    margin: 20px;
    padding: 5px;
}
#p1:hover, #p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover{
    background-color: var(--BlueGrotto);
    transition: 1s;
}

#p1 img,#p2 img,#p3 img, #p4 img, #p5 img, #p6 img{
    height: 400px;
    width: 100%;
}
#p1{
    grid-area: p1;
}
#p2{
    grid-area: p2;
}
#p3{
    grid-area: p3;
}
#p4{
    grid-area: p4;
}
#p5{
    grid-area: p5;
}
#p6{
    grid-area: p6;
}
.collection{
    grid-area: collection;
    background-color: var(--Darkblue);
    color: var(--cream);
    height: auto;
    width: 100%;
    padding: 15px;
    margin-left: -8px;
}
.collection #images{
    grid-area: images;
    background-color: var(--Darkblue);
    height: auto;
    width: 95%;
}
.collection #images{
    display: grid;
    grid-gap: 1.5rem;
    grid-template-rows:  1.5fr 1.5fr 1.5fr ;
    grid-template-columns: 1.5fr 1.5fr 1.5fr ;
    grid-template-areas:
    "i1 i2 i3"
    "i4 i5 i6"
    "i7 i8 i9"
    ;

    height: auto;
    padding: 20px;
}
.i1, .i2, .i3, .i4, .i4, .i5, .i6, .i7, .i8, .i9{
    background-color: var(--Darkblue);
    height: 70vh;
}

.i1 img, .i2 img, .i3 img, .i4 img, .i5 img, .i6 img, .i7 img, .i8 img, .i9 img{
    height: 70vh;
    width: 100%;
    border-radius: 0.5cm 0cm 0.5cm 0cm;
}
.i1{
    grid-area: i1;
    
}
.i2{
    grid-area: i2;
}
.i3{
    grid-area: i3;
}
.i4{
    grid-area: i4;
}
.i5{
    grid-area: i5;
}
.i6{
    grid-area: i6;
}
.i7{
    grid-area: i7;
}
.i8{
    grid-area: i8;
}
.i9{
    grid-area: i9; 
}
#blogs{
    grid-area: blog;
    background: var(--cream);
    color: var(--Charcoal);
    height: auto;
    margin-left: -8px;
    padding: 15px;
    font-size: 1.2rem;
    width: 100%;
}

#blogs img{
    height: 250px;
    width: 250px;
    float: left;
    margin: 20px;
    border-radius: 0cm 1cm 0cm 1cm;
}
#blog1{
    padding: 20px;
}
#hobby{
    grid-area: hobby;
    padding: 15px;
    font-size: 1.3rem;
    background-color: var(--Charcoal);
    color: var(--cream);
    margin-left: -8px;
    padding: 15px;
    width: 100%;
}
#hobby h1{
    color: var(--Blue);
}
ul.hobby{
    list-style-type:square;
}
#footer{
    grid-area: footer;
    background-color: var(--BlueGrotto);
    color: var(--Ivory);
    height:auto;
    margin-left: -8px;
    padding: 10px;
    width: 101%;
    text-align: center;
}
#footer p{
    font-size: 1.9rem;
}
@media only screen and (max-width: 750px) {

    .body{

        display: grid;
        grid-gap: 0.5rem;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-columns: 1fr ;
        grid-template-areas:
        "header"
        "profile"
        "paper"
        "collection"
        "blog"
        "footer"
        ;

        height: 100vh;
        width: 750px;
       
        color:var(--cream);
    }
    #header{
        width: 100%;
        background-color: var(--cream);

    }
    #header .title{
        color: var(--Blue);
    }
    #header .title:hover{
        color: var(--Darkblue);
    }
    #profile{
        margin-top: 30px;
        grid-area: profile;
        /* width: 100%; */
        height: auto;
        display: block;
        background-color: var(--cream);
        color: var(--Blue);
    }

    .paper{
        grid-area: paper;
        display: block;
        overflow: hidden;
        background-color: var(--Darkblue);
        color: var(--Blue);
        margin-left: -8px;
        height: 750vh;
        padding: 15px;
        font-size: 1.3rem;
    }
    .papers #title{
        color: var(--BlueGrotto);
    }
    .paper #title:hover{
        color: var(--cream);
    }
    #p1:hover, #p2:hover, #p3:hover, #p4:hover, #p5:hover, #p6:hover{
        background-color:  var(--Charcoal);
    }
    .papers{
        display: grid;
        grid-gap: 1.3rem;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr ;
        grid-template-areas: 
        "p1"
        "p2"
        "p3"
        "p4"
        "p5"
        "p6";        
        height:auto;
        width: 98%;
        margin-left: -8px;
        margin-right: -20px; 
        padding:15px;

    }
    #p1, #p2, #p3, #p4, #p5, #p6{
        background-color: var(--Charcoal);
        color: var(--Charcoal);
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        color: var(--cream);
        height: auto;
        width: 80%;
        margin: 20px;
        padding: 5px;
    }
    .collection #images{
        display: grid;
        grid-gap: 1.5rem;
        grid-template-rows:  1.5fr 1.5fr ;
        grid-template-columns: 1.5fr ;
        grid-template-areas:
        "i1 i2"
        "i3 i4"
        "i5 i6"
        "i7 i8"
        "i9  1"
        ;
        height: auto;
        padding: 20px;
        background-color: var(--Blue)
    }
    .collection{
        background-color: var(--Blue);
    }
    .i1, .i2, .i3, .i4, .i5, .i6, .i7, .i8, .i9{
        height: 50vh;
        width: 50vh;
        background-color: var(--Blue);
    }
    .i1 img, .i2 img, .i3 img, .i4 img, .i5 img, .i6 img, .i7 img, .i8 img, .i9 img{
        height: 50vh;
        width: 100%;
    }
    #blogs{
        grid-area: blog;
        background-color: var(--Darkblue);
        color: var(--Blue);
        height: auto;
        margin-left: -8px;
        padding: 15px;
        font-size: 1.2rem;
        width: 100%;
        display: block ;
    }
    #blogs img{
        float: none;
        margin-left: 250px;
    }
    
    #hobby{
        display: none;
    }
    #footer{
        background-color: var(--Cream);
        color: var(--Charcoal);
    }
}